<div class="wr-header" id="container-header">
    <div class="wr-header-inner">
    <div class="left-brand">
        <a href="{{url "/"}}" class="brand"><span>iPaaS</span></a>
    </div>

    <div class="right-links">
        <div class="ctrl-tn">

							{{#if user}}
							<div class="btn-user-logged-in">
							<span class="tn-sep"></span>
								<a href="{{url "/dashboard"}}" class="btn-my-cafe"><i class="icon-coffee icon-white">&nbsp;</i>{{t "My Cafe"}}</a>
								<span class="tn-sep"></span>
								<a href="#" class="tn-welcome"><i class="icon-user icon-white">&nbsp;</i>welcome, {{user.username}} </b></a>
								<span class="tn-sep"></span>
                                {{#if sso}}<a href="{{url "/logout"}}"><i class="icon-signout icon-white">&nbsp;</i>{{t "Sign out"}}</a>
                                {{else}}
                                <a id="btn-signout" href="#"><i class="icon-signout icon-white">&nbsp;</i>{{t "Sign out"}} </a>
                                {{/if}}
							</div>
							{{else}}
							{{#if sso}}
							<div class="btn-user-not-logged-in">
							    <span class="tn-sep"></span>
								<a href="{{url "/login"}}" class="btn-sign-inx"><i class="icon-signin icon-white">&nbsp;</i>{{t "Sign in"}}</a>
								<span class="tn-sep"></span>
								<a href="{{url "/login"}}" id="btn-register" class="btn-registerx"><i class="icon-chevron-sign-up icon-white">&nbsp;</i>{{t "Register"}}</a>
							</div>
							{{else}}
							<div class="btn-user-not-logged-in">
                            	<span class="tn-sep"></span>
							    <a href="#">{{t "Sign in"}}</a>
							    <span class="tn-sep"></span>
								<a id="btn-register" >{{t "Register"}}</a>
							</div>
							{{/if}}
							{{/if}}

        </div>
    </div>
    </div>
    <br class="c-both" />
</div>



{{>login login}}
{{>register}}

