<div class="wr-header" id="container-header">
    <div class="wr-header-inner">
    <div class="left-brand">
        <a href="{{url "/"}}" class="brand"></a>
    </div>

    <div class="right-links">
        <div class="ctrl-tn">

							{{#if user}}
							<div class="btn-user-logged-in">
								<a href="{{url "/dashboard"}}" class="btn-my-cafe"><i class="icon-tasks"></i> {{t "My Cafe"}}</a>
								<span class="tn-sep">|&nbsp;</span>
								<a href="#" class="tn-welcome"><i class="icon-userx"></i>welcome, {{user.username}} <b class="caret"></b></a>
                                {{#if sso}}<a href="{{url "/logout"}}"><i class="icon-signout"></i> {{t "Sign out"}} </a>{{else}}<a id="btn-signout" href="#"><i class="icon-signout"></i> {{t "Sign out"}} </a>{{/if}}
							</div>
							{{else}}
							{{#if sso}}
								<a href="{{url "/login"}}" class="btn-sign-inx">{{t "Sign in"}}</a>
								<span class="tn-sep">|&nbsp;</span>
								<a href="{{url "/login"}}" id="btn-register" class="btn-register">{{t "Register"}}</a>
							{{else}}
							    <a href="#">{{t "Sign in"}}</a>
								<a id="btn-register" >{{t "Register"}}</a>
							{{/if}}
							{{/if}}

        </div>
    </div>
    </div>
    <br class="c-both" />
</div>



{{>login login}}
{{>register}}

