<div style="text-align:center">
{{#with asset}}
    {{#attributes}}
        {{#if ../../inDashboard}}
            <input type="button"  class="btn-use-recipe" onclick="goToRecipeApp()"
               data-toggle="modal"
               data-aid="{{../../id}}" data-type="{{../../type}}" value="{{t "Use This Recipe"}}"/>

        {{else}}
            {{#if ../../../sso}}
                {{#if ../../../../user.username}}
                    <input type="button"  class="btn-use-recipe" onclick="goToRecipeApp()"
                       data-toggle="modal"
                       data-aid="{{../../../../id}}"
                       data-type="{{../../../../type}}" value="{{t "Use This Recipe"}}">
                {{/if}}
            {{else}}
                <input type="button"  class="btn-use-recipe" onclick="goToRecipeApp()"
                   data-toggle="modal"
                   data-aid="{{../../id}}" data-type="{{../../type}}" value="{{t "Use This Recipe"}}">
            {{/if}}
        {{/if}}
        <input id="redirectUrlToRecipeApp" type="hidden" value="{{url "/../recipe-app"}}/asts/dish/create_dish?resources={{overview_url}}"/>
    {{/attributes}}
{{/with}}
</div>

<script>
    function goToRecipeApp(){
        var redirect = document.getElementById('redirectUrlToRecipeApp').value;
        window.location.href = redirect;
    }
</script>
